{% extends 'components/base.html' %}
{% load static %}
{% load custom_tags %}
{% load socialaccount %}

{% block tag %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script>
    window.dataJson = JSON.parse('{{ data_json|escapejs }}');
</script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock tag %}

{% block header %}
{% endblock header %}




{% block content %}


<div class="carousel ">

    <div class="progress-bar progress-bar--primary hide-on-desktop">
        <div class="progress-bar__fill"></div>
    </div>

    <header class="main-post-wrapper  ">

        <nav class="bg-opacity-50 backdrop-filter absolute top-0  left-0 right-0 z-50 text-gray-100">

            <div class="container mx-auto px-4 ">

                <div class="flex items-center justify-between py-4">

                    <div class="image-wrapper">
                        <a href="/" class="">
                            <img src="{% static 'assets/logo-white.svg' %}" alt="Logo"
                                class="w-32 h-[59px] object-cover  ">
                        </a>
                    </div>

                    <div class="hidden sm:flex sm:items-center gap-6">
                        <a href="/" class=" text-lg font-semibold hover:text-red-600 ">Daily News</a>
                        <a href="/trending" class=" text-lg font-semibold hover:text-red-600 ">Trending News</a>
                        <a href="/forum" class=" text-lg font-semibold hover:text-red-600 ">Community Forums</a>
                    </div>

                    {% if user.is_authenticated %}




                    <div class="hidden lg:flex sm:items-center pl-12 ">
                        <div class="group relative">
                            <div class="flex  justify-center items-center w-10 h-10">

                                <img class="rounded-full" width="35" height="35" src="{{user_picture}}" alt="Picture" />


                            </div>

                            <div class="absolute z-10 hidden  group-hover:block w-[185px] -left-[130px] ">
                                <div
                                    class="top-32 border-t-2 border-t-red-400 bg-slate-50/10 backdrop-filter background-blur-lg px-2 pt-2 pb-2 shadow-lg rounded-b-md ">
                                    <a href='/profile'>
                                        <div
                                            class="flex items-center cursor-pointer p-3 text-sm  capitalize transition-colors duration-300 transform  hover:bg-gray-100/10 hover:backdrop-filter hover:background-blur-xl  ">
                                            <svg class="w-5 h-5 mx-1 text-cyan-500" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8ZM12 11C13.6569 11 15 9.65685 15 8C15 6.34315 13.6569 5 12 5C10.3431 5 9 6.34315 9 8C9 9.65685 10.3431 11 12 11Z"
                                                    fill="currentColor"></path>
                                                <path
                                                    d="M6.34315 16.3431C4.84285 17.8434 4 19.8783 4 22H6C6 20.4087 6.63214 18.8826 7.75736 17.7574C8.88258 16.6321 10.4087 16 12 16C13.5913 16 15.1174 16.6321 16.2426 17.7574C17.3679 18.8826 18 20.4087 18 22H20C20 19.8783 19.1571 17.8434 17.6569 16.3431C16.1566 14.8429 14.1217 14 12 14C9.87827 14 7.84344 14.8429 6.34315 16.3431Z"
                                                    fill="currentColor"></path>
                                            </svg>

                                            <span class="mx-1">
                                                view profile
                                            </span>
                                        </div>
                                    </a>
                                    <hr class="border-gray-200 dark:border-red-400 " />
                                    <form action="/accounts/logout/" method="post"> {% csrf_token %}
                                        <div
                                            class="flex items-center cursor-pointer p-3 text-sm  capitalize transition-colors duration-300 transform  hover:bg-gray-100/10 hover:backdrop-filter hover:background-blur-xl ">

                                            <button type="submit" class='flex'>
                                                <svg class="w-5 h-5 mx-1 text-red-500" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M19 21H10C8.89543 21 8 20.1046 8 19V15H10V19H19V5H10V9H8V5C8 3.89543 8.89543 3 10 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM12 16V13H3V11H12V8L17 12L12 16Z"
                                                        fill="currentColor"></path>
                                                </svg>

                                                <span class="mx-1">
                                                    Sign Out
                                                </span>
                                            </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% else %}

                <form action="/accounts/google/login/" method="post" class="hidden sm:flex sm:items-center">
                    {% csrf_token %}
                    <button type="submit"
                        class="relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-red-500 rounded-xl group">
                        <span
                            class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-red-700 rounded group-hover:-mr-4 group-hover:-mt-4">
                            <span
                                class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-white"></span>
                        </span>
                        <span
                            class="absolute bottom-0 left-0 w-full h-full transition-all duration-500 ease-in-out delay-200 -translate-x-full translate-y-full bg-red-600 rounded-2xl group-hover:mb-12 group-hover:translate-x-0"></span>
                        <span
                            class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-white font-semibold">Sign
                            In</span>
                    </button>
                </form>

                {% endif %}


            </div>

        </nav>



        <div class="slides">
            <article class="main-post main-post--active">
                <div class="main-post__image">
                    <img src="{{data.slide_articles.0.urlToImage}}" alt="{{data.slide_articles.0.description}}" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">{{data.slide_articles.0.source.name}}</span>
                    </div>
                    <h1 class="main-post__title">{{data.slide_articles.0.title}}</h1>
                    <a class="main-post__link" href="{{data.slide_articles.0.url}}" target="_blank">
                        <span class="main-post__link-text">find out more</span>
                        <svg class="main-post__link-icon main-post__link-icon--arrow" width="37" height="12"
                            viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white" />
                        </svg>
                    </a>
                </div>
            </article>
            <article class="main-post main-post--not-active">
                <div class="main-post__image">
                    <img src="{{data.slide_articles.1.urlToImage}}" alt="{{data.slide_articles.1.description}}" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">{{data.slide_articles.1.source.name}}</span>
                    </div>
                    <h1 class="main-post__title">{{data.slide_articles.1.title}}</h1>
                    <a class="main-post__link" href="{{data.slide_articles.1.url}}" target="_blank">
                        <span class="main-post__link-text">find out more</span>
                        <svg class="main-post__link-icon main-post__link-icon--arrow" width="37" height="12"
                            viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white" />
                        </svg>
                    </a>
                </div>
            </article>
            <article class="main-post main-post--not-active">
                <div class="main-post__image">
                    <img src="{{data.slide_articles.2.urlToImage}}" alt="{{data.slide_articles.2.description}}" />
                </div>
                <div class="main-post__content">
                    <div class="main-post__tag-wrapper">
                        <span class="main-post__tag">{{data.slide_articles.2.source.name}}</span>
                    </div>
                    <h1 class="main-post__title">{{data.slide_articles.2.title}}</h1>
                    <a class="main-post__link" href="{{data.slide_articles.2.url}}" target="_blank">
                        <span class="main-post__link-text">find out more</span>
                        <svg class="main-post__link-icon main-post__link-icon--arrow" width="37" height="12"
                            viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white" />
                        </svg>
                    </a>
                </div>
            </article>

        </div>
    </header>

    <div class="posts-wrapper hide-on-mobile">
        <article class="post post--active">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">{{data.slide_articles.0.source.name}}</span>
                <p class="post__published">{{ data.slide_articles.0.publishedAt|parse_date }}</p>
            </header>
            <h2 class="post__title">{{data.slide_articles.0.title}}
            </h2>
        </article>
        <article class="post">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">{{data.slide_articles.1.source.name}}</span>
                <p class="post__published">{{ data.slide_articles.1.publishedAt|parse_date }}</p>
            </header>
            <h2 class="post__title">{{data.slide_articles.1.title}}</h2>
        </article>
        <article class="post">
            <div class="progress-bar">
                <div class="progress-bar__fill"></div>
            </div>
            <header class="post__header">
                <span class="post__tag">{{data.slide_articles.2.source.name}}</span>
                <p class="post__published">{{ data.slide_articles.2.publishedAt|parse_date }}</p>
            </header>
            <h2 class="post__title">{{data.slide_articles.2.title}}
            </h2>
        </article>
    </div>
</div>

<main class="my-3">


    <section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
        <div class="flex flex-wrap items-center justify-between mb-8">
            <h2 class="mr-10 text-4xl font-bold leading-none md:text-5xl ">
                Latest News
            </h2>
        </div>

        <div class="flex justify-center items-center mb-4 gap-5 relative">

            <div
                class="flex flex-wrap justify-center items-center gap-4 w-3/4 h-full bg-grey-lighter text-grey-darker  p-4 m-3 relative ">


                {% if data.news_categories|length > 4 %}

                <span class="absolute bottom-[120px] left-[35px] text-sm font-semibold ">News Categories</span>

                {% else %}

                <span class="absolute bottom-[65px] left-[35px] text-sm font-semibold ">News Categories</span>

                {% endif %}

                {% for category in data.news_categories %}

                <button type="button" class="categories-btn" data-selected="false">
                    <span
                        class=" text-gray-100 p-2 flex justify-center items-center font-medium rounded-lg  categories-span-btn "
                        style="background: linear-gradient(102.22deg, #04C500 10.82%, rgba(4, 197, 0, 0.81) 97.95%)">{{category|capfirst}}
                    </span>
                </button>

                {% endfor %}

            </div>

            <div
                class="flex flex-wrap justify-center items-center gap-4 w-3/4 h-full bg-grey-lighter text-grey-darker  p-4 m-3 relative ">

                <span class="absolute bottom-[65px] left-[35px] text-sm font-semibold ">News Sort Filter</span>


                {% for filter in data.news_sort %}

                <button type="button" class="filter-btn" data-selected="false">
                    <span
                        class=" text-gray-100 p-2 flex justify-center items-center font-medium rounded-lg  filter-span-btn "
                        style="background: linear-gradient(102.22deg, #04C500 10.82%, rgba(4, 197, 0, 0.81) 97.95%)">{{filter|capfirst}}
                    </span>
                </button>

                {% endfor %}

            </div>




        </div>


        {% for category , value in data.daily_news.items %}

        <div class="hidden" id="{{category}}">

            {% for sort , results in value.items %}

            <div class="flex flex-wrap -mx-4 hidden {{sort}} ">

                {% if results.articles|length == 0 %}
                <div class="flex justify-center items-center w-full">


                    <img src="{% static 'assets/news.jpg' %}" alt="No News" width="400" height="400" />

                </div>
                {% else %}


                {% for article in results.articles %}




                <div class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
                    <img src="{{article.urlToImage}}" alt="{{article.description}}"
                        class="object-cover object-center w-full h-48" />
                    <div class="flex flex-grow">
                        <div class="triangle"></div>
                        <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 text">
                            <div class="mb-9">
                                <div
                                    class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">
                                    {{article.source.name}}</div>
                                <a href="{{article.url}}" target="_blank"
                                    class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
                                    {{article.title}}
                                </a>
                                <p class="mb-4">
                                    {{article.content|slice:":200"}}
                                </p>
                            </div>
                            <div>
                                <div class="placement absolute flex items-center mx-16">
                                    <div data-title="{{article.title}}" data-category="{{category}}"
                                        data-sort="{{sort}}" data-user="{{user.is_authenticated}}"
                                        class="heart flex justify-center items-center {{article.liked}} "><span
                                            class="ml-12 text-sm font-semibold heart-num ">{{article.likes}}</span>
                                    </div>

                                    <button data-title="{{article.title}}" data-category="{{category}}"
                                        data-sort="{{sort}}" data-user="{{user.is_authenticated}}"
                                        class="bookmark mx-2 ">
                                        {% if article.bookmark == "saved" %}

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF1616"
                                            class="w-8 h-8 bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                        </svg>

                                        {% else %}

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class=" w-8 h-8 bi bi-bookmark-plus"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
                                        </svg>

                                        {% endif %}

                                    </button>
                                    <button data-value="{{article.url}}" id="link" class="ml-4">
                                        <img src="{% static 'assets/share.svg' %}" alt="Logo" class="w-8 h-8">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {% endfor %}

                {% endif %}


            </div>

            {% endfor %}
        </div>


        {% endfor %}


    </section>



</main>


{% endblock content %}