{% extends 'components/base.html' %}
{% load static %}
{% load custom_tags %}

{% block tag %}
{% endblock tag %}


{% block content %}


<section>

    <div class=" my-5  text-gray-800">
        <div class="container max-w-4xl px-10 py-6 mx-auto rounded-lg shadow-md bg-gray-100">
            <div class="flex items-center justify-between">
                <span class="text-sm text-gray-600">{{forum.published_at|date:"F j, Y"}} -
                    {{forum.published_at|hours_since}} ago</span>
                <div class="flex justify-center items-center gap-2">
                    {% for tag in forum.tags|split:"," %}
                    <span class="font-bold bg-cyan-500 text-gray-100 rounded px-2 py-1 ">{{tag}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-3">
                <a rel="noopener noreferrer" href="/forum/{{forum.uuid}}"
                    class="text-2xl font-bold hover:underline">{{forum.title}}</a>
                <p class="mt-2">{{forum.description|slice:":250"}}...</p>
            </div>
            <div class="flex items-center justify-between mt-4">
                <span class="flex justify-center items-center gap-3">
                    <b>Votes: </b> {{forum.votes}}
                </span>
                <div>
                    <div class="flex items-center">
                        <img src="{{forum.creator_image}}" alt="avatar"
                            class="object-cover w-10 h-10 mx-4 rounded-full bg-gray-500">
                        <span class="hover:underline text-gray-600">{{forum.creator_name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="bg-white  py-2">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-900 ">Discussion ({{total_comments_count}})</h2>
            </div>
            <form class="mb-3" method="post" action="/forum/{{forum.uuid}}/"> {% csrf_token %}
                <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 ">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment" rows="6" name="comment"
                        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none   "
                        placeholder="Write a comment..." required></textarea>
                </div>
                <button
                    class="relative inline-flex items-center justify-center inline-block p-4 px-5 py-3 overflow-hidden font-medium text-indigo-600 rounded-lg shadow-2xl group">
                    <span
                        class="absolute top-0 left-0 w-40 h-40 -mt-10 -ml-3 transition-all duration-700 bg-blue-500 rounded-full blur-md ease"></span>
                    <span class="absolute inset-0 w-full h-full transition duration-700 group-hover:rotate-180 ease">
                        <span
                            class="absolute bottom-0 left-0 w-24 h-24 -ml-10 bg-green-500 rounded-full blur-md"></span>
                        <span
                            class="absolute bottom-0 right-0 w-24 h-24 -mr-10 bg-cyan-500 rounded-full blur-md"></span>
                    </span>
                    <span class="relative text-white">Post Comment</span>
                </button>
            </form>
            {% for comment in total_comments %}
            <article class="p-6 mb-6 text-base bg-white rounded-lg border-2 border-gray-200 ">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 "><img
                                class="mr-2 w-6 h-6 rounded-full" src="{{comment.user.user.extra_data.picture}}"
                                alt="{{comment.user.user.extra_data.name}}">{{comment.user.user.extra_data.name}}</p>
                        <p class="text-sm text-gray-600 "><time pubdate datetime="2022-02-08"
                                title="February 8th, 2022">{{comment.published_at|date:"F j, Y"}} -
                                {{comment.published_at|hours_since}} ago</time></p>
                    </div>

                </footer>
                <p class="text-gray-500 ">{{comment.comment}}</p>

            </article>

            {% endfor %}
        </div>
    </section>



</section>

{% endblock content %}